._spacer {
  margin-bottom: 20px;
}

._spacer-md {
  margin-bottom: 30px;
}

._spacer-lg {
  margin-bottom: 40px;
}

._circle-small {
  width: 50px;
}

input.ng-invalid.ng-touched {
  border: 1px solid $crimson;
}

._crimson-text {
  color: $crimson;
}

.error-message {
  color: $crimson;
  margin: 10px 5px;
}
